<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Silicon Valley - Where technology was born</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/lib/hover/hover.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
    <link href="/css/timeline.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/logo.png">

</head>

<body>

<!-- start section navbar -->
    <nav id="main-nav">
        <div class="row">
            <div class="container">

                <div class="logo">
                    <a href="/"><img src="/img/logo.png" alt="logo" class="smoothScroll"></a>

                    <ul class="nav-menu list-unstyled">
                        <li><a id="youWord" style="color: #0b0b0b">You</a></li>
                        <li><a href="/city" class="smoothScroll" style="color: #0b0b0b">City</a></li>
                        <li><a href="/company" class="smoothScroll" style="color: #0b0b0b">Company</a></li>
                    </ul>
                </div>
                <!--Modal section start-->

                <div id="cartModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h4>Your profile:</h4>

                        <img class="img-responsive" id="prof-pic" alt="me" th:src="@{${picture}}"/>
                        <p th:text="'Hello '+ ${name} + '! Here you can find more information about your things.'"></p>

                        <table>
                            <tr>
                                <th colspan="2">Favorites:</th>
                            </tr>
                            <tr>
                                <th>Company</th>
                                <th>Product</th>
                            </tr>
                            <tr>
                                <td>None</td>
                                <td>None</td>
                            </tr>
                        </table>

                    </div>
                </div>

                <!--Modal section ends-->
                <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

                <ul class="nav-menu list-unstyled">
                    <li><a href="#shHistory" class="smoothScroll">History</a></li>
                    <li><a href="#places" class="smoothScroll">Places</a></li>
                    <li><a href="/logout" class="smoothScroll">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- End section navbar -->

<!-- start section header -->
    <div id="header" class="home" style="background-image: url(/img/backg-city.jpg)">

        <div class="container">
            <div class="header-content">
                <h1>City tour</h1>
                <p>Let me introduce you this wonderful city.</p>
                <ul class="list-unstyled list-social">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- End section header -->

<!-- start section about us -->
    <div id="journal" class="text-left paddsection">

        <div id="shHistory" class="paddsection">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="container">
                        <div class="section-title text-center">
                            <h2>Short history</h2>
                        </div>
                        <div class="row">
                            <iframe src="//content.jwplatform.com/players/EpvyN79Q-puACk8ZV.html" width="560" height="320" frameborder="0" scrolling="auto"></iframe>
                            <p>Silicon Valley is a name that is synonymous with the technology industry, but when and how did this small area of California become the center of the tech world? The area's transformation happened gradually, over a period of more than 100 years. Here's how.<br><br>
                                Silicon Valley is an almost $3 trillion neighborhood thanks to companies like Apple, Google, and Tesla. But it wasn't always this way.<br><br>
                                In the late 1800's, San Francisco's port helped make it a hub of the early telegraph and radio industries. In 1909, San José became home to one of the US's first radio stations. In 1933, the Navy purchased Moffett Field to dock and maintain the USS Macon. This made Moffett Field a major hub for the early days of the aerospace industry. Many scientists and researchers all found work in the area. In 1939, the Ames Research Center was founded in the area, and it became home to the world's largest wind tunnel in 1949.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <img src="/img/sf-city.jpg" class="center">

        <div class="container" id="places">
            <div class="section-title text-center">
                <h2>Timeline</h2>
            </div>

            <div class="timeline">
                <div class="tContainer left">
                    <div class="tContent">
                        <h2>2018</h2>
                        <p>Elon Musk's Tesla Roadster launched into space on the SpaceX. The 2008-model Roadster was previously used by Musk for commuting to work, and is the first production car in space. The launch was live streamed, and video feeds from space showed the Roadster at various angles, with Earth in the background, thanks to cameras placed inside and outside the car, on booms attached to the vehicle's custom adaptor atop the upper stage.</p>
                    </div>
                </div>
                <div class="tContainer right">
                    <div class="tContent">
                        <h2>1984</h2>
                        <p>Apple co-founder Steve Jobs leans on the his Macintosh 128K, the original Macintosh personal computer with its revolutionary GUI (Graphical User Interface). Wavefront introduces the first commercial 3D-s graphics software, Hewlett-Packard the first ink-jet printer and on the other half of the world the Sony and Philips introduced the CDROM.</p>
                    </div>
                </div>
                <div class="tContainer left">
                    <div class="tContent">
                        <h2>1971</h2>
                        <p>The term of “Silicon Valley” appears by the press. Ted Hoff and Feredico Gaggin at Intel build the first universal micro-processor, a programmable set of integrated circuits, i.e. a computer on a chip. At the IBM David Noble invents the floppy disk.</p>
                    </div>
                </div>
                <div class="tContainer right">
                    <div class="tContent">
                        <h2>1954</h2>
                        <p>After two years from opening the gates in San Jose(later Almaden Research Center), IBM introduces its first computer model, the 704. Otherwise the first industrial robot, Unimate borns by the hand of George Devol.</p>
                    </div>
                </div>
                <div class="tContainer left">
                    <div class="tContent">
                        <h2>1909</h2>
                        <p>Stanford University's president David Starr Jordan invests $500 in Lee DeForest's audion tube, the first major venture-capital investment in the region.</p>
                    </div>
                </div>
                <div class="tContainer right">
                    <div class="tContent">
                        <h2>1848</h2>
                        <p>the first year of the Gold Rush. All over the world spread rumors of fabulous gold reserves discovered on the west coast of North America. Gold was discovered in El Dorado County, not far from Sacramento, the current state capital of California, and “El Dorado” entered the vocabulary of treasure-seekers around the world.</p>
                    </div>
                </div>
                <a href="https://www.tiki-toki.com/timeline/entry/9938/Silicon-Valley-Timeline">Follow for more information</a>
            </div>
        </div>

        <!-- start section footer -->
        <div id="footer" class="text-center">
            <div class="container">
                <div class="socials-media text-center">

                    <ul class="list-unstyled">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    </ul>

                </div>

                <p>&copy; Copyrights Folio. All rights reserved.</p>

            </div>
        </div>
    </div>
    <!-- End section footer -->

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/typed/typed.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="/lib/isotope/isotope.pkgd.min.js"></script>

    <script src="/contactform/contactform.js"></script>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html></html>